.row-first {
  padding-top: 56px;
}

.question {
  border: solid 1px #333;
  border-radius: 15px;
}

.title-question {
  border-bottom: solid 1px #222;
}

.footer-question {
  border-top: solid 1px #222;
}

/* ANSWER */
.good-answer,
.bad-answer {
  margin: 0;
  padding: 0;
}

.good-answer {
  background: #77ddd4;
  color: #2c3e50;
}

.bad-answer {
  background: #efb1b3;
  color: #2c3e50;
}
